{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyattr %}ng-app="weight" ng-controller="WeightController"{% endblock %}

{% block navextra %}

    <ul class="nav navbar-nav">
        <li ng-hide="service.data.dialpad">
            <a href="" ng-click="service.dialpad()">Enter new value</a>
        </li>
        <li ng-show="service.data.dialpad">
            <a href="" ng-click="service.canvas()">Back</a>
        </li>
    </ul>

{% endblock %}

{% block content %}

    <script src="{% static 'app.js' %}" ></script>

    <div class="canvas" ng-hide="service.data.dialpad">
        <svg id="graph" viewBox="0 0 640 360" preserveAspectRatio="xMidYMid" />

        <div class="visible-xs">
            <button ng-click="service.dialpad()">Enter new value</button>
        </div>
    </div>

    <div class="dialpad" ng-show="service.data.dialpad">
        <div class="dialpad rows">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">

                <div class="col-xs-8" >
                    <div class="display">
                        {$ service.data.string $}
                    </div>
                </div>

                <div class="col-xs-4">
                    <button ng-click="service.reset()">C</button>
                </div>

{% for button in buttons %}

                <div class="col-xs-4">
                    <button ng-click="service.enterKey('{{ button }}')">{{ button }}</button>
                </div>
{% endfor %}

                <div class="col-xs-4">
                    <button ng-click="service.canvas()" class="glyphicon glyphicon-arrow-left"></button>
                </div>

                <div class="col-xs-12" >
                    <button ng-click="service.submit()">Submit</button>
                </div>

            </div>
            <div class="col-sm-3"></div>
       </div>
    </div>

{% endblock %}
